.VSCodeCounter/

# Unused images
ahsoka.webp
luke-with-saber.webp
lightsaber.png
lightsaber-forms.jpg
lightsaber -background.jpg
obi-ani.webp
binary-sunset.webp
binary-sunset.png
bean-solo.jpg
background.jpg