.page-header {
    background-image: url(../assets/classes/about-header-bg.webp);
    background-position: 50% 90%;;
    position: relative;
}

.page-header::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(../assets/classes/about-header-fg.webp);
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(../assets/classes/about-header-fg.webp) inherit / inherit inherit;
    z-index: 1;
    pointer-events: none;
}

/* ---Intro Section --- */

.intro-container .content-wrapper {
    display: flow-root;
    background-color: var(--section-bg);
    padding: 2rem;
    padding-bottom: 0;
    border-radius: 2rem;
}

.intro-container .content-wrapper :is(h2, p) {
    text-align: left;
    max-width: unset;
}

.intro-container .content-wrapper h2 {margin-bottom: 1.5rem}

.intro-container .content-wrapper p {line-height: 1.8}

.intro-container .content-wrapper {
    max-width: 70rem;
    margin-inline: auto;
}

.classes-intro-person {
    float: right;
    shape-outside: url(../assets/classes/classes-intro-person-2.webp);
    shape-margin: 1.5rem;
    width: 20rem;
    height: auto;
    pointer-events: none;
}

@media (max-width: 1024px) {
    .classes-intro-person {margin-right: 0}
    .intro-container .content-wrapper p {line-height: 1.5}
}

@media (max-width: 768px) {
    .intro-container .content-wrapper {padding-right: 0}

    .classes-intro-person {
        width: 16rem;
        width: clamp(10rem, 40%, 16rem);
        border-bottom-right-radius: 2rem;
    }

    .intro-container .content-wrapper p {line-height: 1.3}
}

@media (max-width: 500px) {
    .classes-intro-person {
        display: block;
        float: none;
        margin: 0 auto 1rem;
        border-bottom-right-radius: 0;
    }

    .intro-container .content-wrapper {padding: 1.5rem !important}
    .intro-container .content-wrapper h2 {text-align: center}
    .intro-container .content-wrapper p {line-height: 1.5}
}

/* --- Class Cards Container --- */

.category-container .category-name {
    text-align: left;
    color: var(--yellow);
    padding-left: 6vw;
    text-transform: capitalize;
}

.category-container .line  {
    margin-block: 1rem;
    height: 2px;
    border: none;
    border-radius: 100vmax;
    background-color: white;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.class-card {
    aspect-ratio: 1;
    height: clamp(18rem, 25vw, 25rem);
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease;
    cursor: pointer;
}

.card-inner.flipped {
    transform: rotateX(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 1.5rem;
    padding: clamp(1rem, 3vw, 3rem);
}

.class-card p {
    font-size: clamp(1rem, 1.5vw, 1.2rem);
}

.card-front {
    background-image: linear-gradient(to bottom right, #308cc9, #1975b3);
    color: white;
    transition: transform 0.2s ease;
    padding-bottom: 0;
    padding-right: 1rem;
}

.card-front::after {
    content: "";
    display: table;
    clear: both;
}

.card-front h4 {
    text-align: left;
    font-size: clamp(1.5rem, 2vw, 2rem);
}

.card-front :is(h4, .difficulty-wrapper) {margin-bottom: 10px}

.prev-txt {z-index: 100}

.difficulty-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

.difficulty-wrapper strong {font-weight: 600}

.difficulty-wrapper span {
    font-size: inherit;
    border-radius: 5px;
    padding: 2px 5px;
    font-size: clamp(1rem, 2vw, 1.1rem);
}

.easy {background-color: #00bd00}
.moderate {background-color: #a68d00}
.advanced {background-color: #da0000}

.card-img {
    float: right;
    shape-margin: 5px;
}

.card-img.horizontal {width: 70%; height: auto}

.card-img.vertical {width: auto; height: 70%}

@media (max-width: 768px) {
    .card-front {padding-right: auto}
    .prev-txt {display: none}

    .card-front img {
        margin-top: 0 !important;
        float: none;
        position: absolute;
        bottom: 0;
        inset-inline: 0;
        margin-inline: auto;
    }

    .card-front img.vertical {height: 60% !important}

    .card-front img.horizontal {width: 80% !important}
}

.card-front:hover {
    transform: scale(1.02);
}

.card-back {
    background-color: var(--dark-bg);
    transform: rotateX(180deg);
    padding: 2rem;
}

.card-back > * {
    margin-bottom: 0.5rem;
}

.card-back h5 {
    color: white;
    text-align: left;
    font-size: clamp(1.3rem, 2vw, 1.5rem);
}

.card-back hr {
    border: none;
    height: 2px;
    border-radius: 100vmax;
    background-color: rgb(255 255 255 / 0.5);
}

.card-back li {
    font-size: clamp(16px, 1vw, 25px);
    font-weight: 400;
    line-height: 1.2;
    list-style-position: inside;
}


.card-back .button {
    font-size: clamp(1rem, 1vw, 1.3rem);
}


@media (max-width: 768px) {
    .sign-up-class {
        padding: 7px 5px;
        width: 80px;
    }
}





@media (max-width: 1024px) {
    .card-back {
        padding: 10px;
    }
}