.page-header {
    background-image: url(../assets/classes/about-header-bg.webp);
    background-position: 50% 90%;;
    position: relative;
}

.page-header::after {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(../assets/classes/about-header-fg.webp);
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(../assets/classes/about-header-fg.webp) inherit / inherit inherit;
    z-index: 1;
    pointer-events: none;
}

/* ---Intro Section --- */

.intro-container .content-wrapper {
    display: flow-root;
    background-color: var(--section-bg);
    padding: 2rem;
    padding-bottom: 0;
    border-radius: 2rem;
}

.intro-container .content-wrapper h2 {margin-bottom: 1.5rem}

.intro-container .content-wrapper :is(h2, p) {
    text-align: left;
    max-width: unset;
}

.intro-container .content-wrapper {
    max-width: 80rem;
    margin-inline: auto;
}

.classes-intro-person {
    margin-right: 5rem;
    float: right;
    shape-outside: url(../assets/classes/classes-intro-person-2.webp);
    shape-margin: 1rem;
    height: 30rem;
    pointer-events: none;
}

@media (max-width: 1024px) {.classes-intro-person {margin-right: 0}}

@media (max-width: 768px) {.classes-intro-person {height: 20rem}}

@media (max-width: 425px) {
    .classes-intro-person {display: none}
    .intro-container .content-wrapper {padding-bottom: 2rem}
    .intro-container .content-wrapper h2 {text-align: center}
}

/* --- Class Cards --- */

.classes-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px 5vw;

    opacity: 0.7;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
}

.classes h3 {
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    color: var(--yellow);
    padding: 10px;
    padding-left: 6vw;
    border-bottom: 2px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
.classes-grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: 0 2vw;
}

.class-card {
    aspect-ratio: 1;
    height: clamp(300px, 30vw, 500px)
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.3s ease-in-out;
    transition-delay: 0s;
}



.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-sizing: border-box;
    border-radius: 20px;
}
.class-card p {
    text-align: left;
    font-size: clamp(16px, 1vw, 25px);
    position: relative;
}

.card-front {
    background-image: linear-gradient(-45deg, #1975b3, #308cc9);
    color: white;
    padding: 20px;
    transition: transform 0.2s ease;
    h4 {
        text-align: left;
        font-size: clamp(24px, 2vw, 40px);
        margin-left: 4%;
        margin-top: 10%;
    }
    p {
        padding-right: 40%;
        z-index: 100;
    }
    img {
        height: 70%;
        position: absolute;
        bottom: 0px;
        right: 20px;
    }
}

@media (max-width: 1024px) {
    .class-card {
        aspect-ratio: 8/9;
        min-width: 300px;
        min-height: 300px;
    }
    .card-front {
        padding: 15px;
    }
    .card-front p strong {
        display: none;
    }
    .card-front h4 {
        margin: 10% 6% 0 ;
    }
    .card-front p em {
        margin-left: 0;
    }
}
@media (max-width: 768px) {
    .card-front p:nth-child(3) {
        display: none;
    }
    .card-front img {
        right: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

.card-front:hover {
    transform: scale(1.02);
    cursor: pointer;
}


.juyo-card img,
.trakata-card img,
.holocron-card img {
    height: 46%;
}

.spin-card img,
.holocron-card img,
.lightsaber-card img {
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.11));
}
.spin-card img {
    height: 40%;
    border-radius: 10px;
    margin-bottom: 10px;
    
}
.holocron-card img {
    margin-bottom: 5px;
}
.lightsaber-card img {
    margin-bottom: 20px;
    margin-right: 40px;
    rotate: -20deg;
}
.ahsoka-card img {
    height: 60%;
    transform: scaleX(-1);
}
.luke-card img {
    height: 75%;
}
.duel-card img {
    height: 45%;
}
.card-back {
    background-color: var(--dark-bg);
    color: white;
    transform: rotateX(180deg);
}
.sign-up-class {
    display: block;
    width: 100px;
    margin: 10% auto 0;
    background-color:  rgb(255, 0, 0);
    border-radius: 10px;
    padding: 10px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: clamp(16px, 1.2vw, 20px);
    transition: transform 0.2s ease, background-color 0.2s ease;
}
.sign-up-class:hover {
    transform: scale(1.05);
    background-color:  rgb(221, 1, 1);
}


@media (max-width: 768px) {
    .sign-up-class {
        padding: 7px 5px;
        width: 80px;
    }
}

.card-front p em {

    border-radius: 5px;
    padding: 4px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    margin-left: 5px;
}
.easy {
    background-color: rgb(0, 189, 0);
}
.moderate {
    background-color: rgb(166, 141, 0);
}
.advanced {
    background-color: rgb(218, 0, 0);
}



.card-back {
    padding: 20px;
    li {
        font-size: clamp(16px, 1vw, 25px);
        font-weight: 400;
        line-height: 1.2;
    }
}


@media (max-width: 1024px) {
    .card-back {
        padding: 10px;
    }
}