@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
}

html {
    scroll-behavior: smooth;
}

:root {
    --dark-bg: #0a1f44;
    --bg: #1A2B45;
    --section-bg: #233a5d;
    --light-section: #395784;
    --light: #b3cfff;
    --yellow: #ffeb38;

    --main-font: 'Montserrat', 'Arial Narrow', Arial, sans-serif;
    --serif-font: 'Cinzel', Cambria, Cochin, Georgia, Times, Times New Roman, serif;

    interpolate-size: allow-keywords;
}
 
body {
    background-color: var(--bg);
    margin: 0;
    overflow-x: visible;
    position: relative;
}

/* ---------- Typography ---------- */

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
    text-align: center;
}

h2 {
    font-size: clamp(1.5rem, 5vw, 3rem);
    color: var(--yellow);
}

h3 {
    font-size: clamp(1.3rem, 4vw, 1.8rem);
    font-weight: 600;
    color: white;
}
 
p, strong, em, li, a, label {
    color: white;
    font-size: clamp(1rem, 2vw, 1.3rem);
    line-height: 1.5;
    text-wrap: pretty;
    max-width: 65ch;
}

a {
    text-decoration: none;
    text-align: center;
}

.txt-shadow {text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4)}

/* ------ Buttons ------ */

.button {
    display: block;
    width: fit-content;
    margin-inline: auto;
    background-image: linear-gradient(to bottom, #ff0000, #c00000);
    color: white;
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 5px rgb(0 0 0 / 0.15);
    text-shadow: 0 2px 5px rgb(0 0 0 / 0.4);
}

.btn-ch {display: inline-block}

.btn-ch.space {min-width: 0.5rem}

.btn-ch.hover {animation: bounce 0.3s linear forwards}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
}

@keyframes fadeIn {to {opacity: 1}}

@keyframes fade-in {to {scale:1; opacity: 1;}}

/* ------ Header ------  */

header {
    background-color: var(--dark-bg);
    z-index: 9;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 5rem;
}

.header-decor {height: 100%}

.name {
    font-family: var(--serif-font);
    color: white;
    font-size: clamp(2rem, 4vw, 3rem);
    text-align: center;
}

.location {
    font-weight: 400;
    font-size: 1rem;
    color: color-mix(in srgb, var(--dark-bg) 60%, white 40%);
}

/* ------ Nav Bar ------  */

nav {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--dark-bg);
    padding-bottom: 5px;
    flex-wrap: wrap;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-block: 1rem;
}

nav ul li a {
    color: white;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    transition: color 0.2s ease;
}

nav ul li a:hover {color: var(--yellow)}

.ssaLogo, .hamburger {display: none}

/* ------ Responsive Design ------ */

@media (max-width: 768px) {
    body {
        --header-height: 5rem;
        margin-top: var(--header-height);
    }

    header {
        position: fixed;
        top: 0;
        max-height: var(--header-height);
        width: 100%;
        padding: 0 2rem;
        z-index: 20;
        box-shadow: 0 2px 5px rgb(0 0 0 / 0.15);
    }

    .header-txt-wrapper, .header-decor {display: none}

    nav {
        background-color: rgb(0 0 0 / 0.3);
        backdrop-filter: blur(0.4rem);
        box-shadow: 2px 2px 5px rgb(0 0 0 / 0.15);
        border: 2px solid rgb(255 255 255 / 0.3);
        border-left: none;
        border-radius: 1rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        --width: 60%;
        position: fixed;
        width: var(--width);
        left: calc(var(--width) * -1);
        top: calc(var(--header-height) + 1rem);
        bottom: 1rem;
        transition: left 0.3s ease;
        z-index: 10;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }

    .ssaLogo {
        height: calc(var(--header-height) * 0.55);
        display: block;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
        gap: 6px;
        z-index: 10;
        width: 2rem;
        --line-height: 3px;
    }

    .hamburger-line {
        width: 100%;
        height: var(--line-height);
        background-color: white;
        border-radius: 100vmax;
        transition: all 0.2s ease;
    }

    /* hamburger + navbar styles on open */

    nav.open {left: 0}

    .line-1, .line-3 {transform-origin: 0 50%}

    body:has(nav.open) header .hamburger .line-1 {transform: rotate(45deg) translateY(calc(var(--line-height) * -1))}

    body:has(nav.open) header .hamburger .line-2 {width: 0; opacity: 0}

    body:has(nav.open) header .hamburger .line-3 {transform: rotate(-45deg) translateY(var(--line-height))}
    
}

/* General Page Styles */

.page-header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20rem;
    height: clamp(8rem, 20vw, 20rem);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline: 1rem;
}

.page-header h1 {
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
    font-size: clamp(1.6rem, 5vw, 3.5rem);
    color: var(--yellow);
}

section {
    padding: 3rem clamp(1rem, 5vw, 4rem);
}

/* --- footer --- */

footer {
    background-color: var(--dark-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    text-align: center;
    padding: 1rem;
    color: white;
}

footer h4 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.newsletter {
    --btn-width: 11ch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.newsletter .input-wrapper {
    position: relative;
    overflow: clip;
    border-radius: .5rem;
    padding-right: var(--btn-width);
}

.newsletter .input-wrapper > * {font-size: 1rem}

.newsletter .input-wrapper input {
    border: none;
    padding: .6rem;
    width: 50%;
    min-width: 22ch;
}

.newsletter .input-wrapper button {
    width: var(--btn-width);
    position: absolute;
    inset-block: 0;
    right: 0;
    padding: .6rem;
    background-color: red;
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease;
}

.newsletter .input-wrapper button:hover {background-color: rgb(212, 0, 0); }

.fake-social-links .icons-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.icons-wrapper img {filter: invert(100%); transition: all 0.2s ease}

.icons-wrapper img:hover {transform: translateY(-5px)}

footer .copyright {
    flex: 1 1 100%;
    font-size: 1rem;
    max-width: unset;
}

@media (max-width: 768px) {
    footer {justify-content: center;}
    .newsletter {display: none}
}

/* ------ Rickroll Page ------ */
.rickroll-page {
    background-color: black;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rickroll-page video {
    width: 50px;
    height: auto;
    background-color: black;
    border-radius: 10px;
    border: none;
    padding: 0;
    margin: 0;
}